body {
  font-size: 16px;
  font-family: "Nanum Gothic", sans-serif;
}
.inner {
  width: 1100px;
  margin: 0 auto;
  position: relative;
}
a {
  text-decoration: none;
}

/* HEADER */
header {
  width: 100%;
  background-color: rgb(250, 241, 255);
  border-bottom: 1px solid #c8c8c8;
  position: fixed;
  top: 0;
  z-index: 9;
}
header > .inner {
  /* header의 바로 자식 요소인 inner에만 적용되는 사항 */
  height: 100px;
}
header ul.menu {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0 0 0 10px;
}
header ul.menu li {
  position: relative;
}
header ul.menu li::before {
  content: "";
  width: 2px;
  height: 16px;
  background-color: #c8c8c8;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
}
header ul.menu li:first-child::before {
  display: none;
}
header ul.menu li a {
  font-size: 16px;
  font-family: Arial, sans-serif;
  color: rgba(49,49,49,.7);
  display: block;
  padding: 10px;
}
header ul.menu li a:hover {
  color:rgb(90, 16,109);
}